{% for bundle in dehydrated_default_bundles + dehydrated_extra_bundles %}
{{ bundle.domain }}{{ ' ' + bundle.aliases | join(" ") if bundle.aliases | default(False) else '' }}{{ ' > ' + bundle.name if bundle.name | default(False) else '' }}
{% endfor %}
